<table border="1" width="100%">
<tr>
<td>
   <table border="1" width="100%">
   <tr>
   <th>Folder </th>
   <th>Description</th>
   </tr>
   <tr>
   <td>bin </td>
   <td>This folder is responsible for the starting your gem code. It can be called from your CLI.</td>
   </tr>
   <tr>
   <td>app_name </td>
   <td>This file is equivalent to your enviroment file. It holds all the required path of files that your application needs inorder to function properly</td>
   </tr>
   <tr>
   <td>spec </td>
   <td>Code for testing your gem </td>
   </tr>
   <tr>
   <td>app_name_spec.rb </td>
   <td>Code for testing your gem</td>
   </tr>
   <tr>
   <td>spec_helper.rb </td>
   <td>Used for testing your code</td>
   </tr>
   <tr>
   <td>.gitignore </td>
   <td>This file determine what to include when committing and pushing your code out to your repository</td>
   </tr>
   <tr>
   <td>.rspec </td>
   <td>Code for testing your code in a test driven development environment.</td>
   </tr>
   <tr>
   <td>.travis.yml  </td>
   <td> Help ease the release of your gem once its completed and ready for deployment.</td>
   </tr>
   <tr>
   <td>app_name.gemspec </td>
   <td>Contains your gem's specifications</td>
   </tr>
   <tr>
   <td>CODE_OF_CONDUCT.md </td>
   <td>Rules for contributing</td>
   </tr>
   <tr>
   <td>Gemfile </td>
   <td>This file is responsible for loading your projects gem dependencies. More detail information can be found at bundler website <a href="https://bundler.io/v1.5/gemfile.html">https://bundler.io/v1.5/gemfile.html</a>   </td>
   </tr>
   <tr>
   <td>LICENSE.txt  </td>
   <td>The rights for your gem</td>
   </tr>
   <tr>
   <td>Rakefile  </td>
   <td>Similar to Gemfile. Allows your to specify dependencies and ruby executables</td>
   </tr>
   <tr>
   <td>README.md  </td>
   <td>Description of what your gem does </td>
   </tr>
   </table>
</td>
</tr>
</table>
